In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'martial-status', 'occupation', 'relationship',
          'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

traind = pd.read_csv('adult.data', index_col=False, names = columns, encoding='utf-8', skipinitialspace=True)
testd = pd.read_csv('adult.test', skiprows=[0], index_col=False, names = columns, encoding='utf-8', skipinitialspace=True)

In [3]:
replaceChars = {'?':np.nan, 
                'Self-emp-not-inc':'self-employed', 'Self-emp-inc':'self-employed',
               'Federal-gov':'government-employed', 'Local-gov':'government-employed', 'State-gov':'government-employed',
               'Without-pay':'unemployed', 'Never-worked':'unemployed',
               'Bachelors':'higher education', 'Masters':'higher education', 'Doctorate':'higher education',
               'Some-college':'high school', 'HS-grad':'high school', 'Prof-school':'high school', 'Assoc-acdm':'high school', 'Assoc-voc':'high school',
               '11th':'lower education', '9th':'lower education', '7th-8th':'lower education', '12th':'lower education', '1st-4th':'lower education', '10th':'lower education', '5th-6th':'lower education', 'Preschool':'lower education'}
traind = traind.replace(replaceChars).dropna()
testd = testd.replace(replaceChars).dropna()

In [4]:
dummyWork = {'Private':0,'self-employed':1,'government-employed':2,'unemployed':3}
dummyEdu = {'higher education':0,'high school':1,'lower education':2}
dummySex = {'Female':0,'Male':1}
dummy = [dummyWork, dummyEdu, dummySex]
for i in dummy:
    traind = traind.replace(i)
    testd = testd.replace(i)

In [5]:
traind['Private'] = np.where(traind['workclass']==0, 1, 0)
traind['self-employed'] = np.where(traind['workclass']==1, 1, 0)
traind['government-employed'] = np.where(traind['workclass']==2, 1, 0)
#Reference Variable: traind['unemployed'] = np.where(traind['workclass']==3, 1, 0)
traind['higher education'] = np.where(traind['education']==0, 1, 0)
traind['high school'] = np.where(traind['education']==1, 1, 0)
#Reference Variable: traind['lower education'] = np.where(traind['education']==0, 1, 0)
traind['income'] = np.where(traind['income'] == '<=50K', 1, 0)

testd['Private'] = np.where(testd['workclass']==0, 1, 0)
testd['self-employed'] = np.where(testd['workclass']==1, 1, 0)
testd['government-employed'] = np.where(testd['workclass']==2, 1, 0)
#Reference Variable: testd['unemployed'] = np.where(testd['workclass']==3, 1, 0)
testd['higher education'] = np.where(testd['education']==0, 1, 0)
testd['high school'] = np.where(testd['education']==1, 1, 0)
#Reference Variable: testd['lower education'] = np.where(testd['education']==0, 1, 0)
testd['income'] = np.where(testd['income'] == '<=50K.', 1, 0)

In [6]:
col = traind.columns.tolist()
col.remove('martial-status')
col.remove('occupation')
col.remove('relationship')
col.remove('race')
col.remove('native-country')
col.remove('workclass')
col.remove('education')
col.remove('income')
col.append('income')
traind = traind.ix[:, col]
testd = testd.ix[:, col]

/usr/local/lib/python2.7/site-packages/ipykernel-4.5.1-py2.7.egg/ipykernel/__main__.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
/usr/local/lib/python2.7/site-packages/ipykernel-4.5.1-py2.7.egg/ipykernel/__main__.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

In [7]:
#transform capital-gain into smaller numbers
traind['capital-gain'] = traind['capital-gain']*0.00001
testd['capital-gain'] = testd['capital-gain']*0.00001

traind['fnlwgt'] = traind['fnlwgt']*0.00001
testd['fnlwgt'] = testd['fnlwgt']*0.00001

traind['hours-per-week'] = traind['hours-per-week']*0.001
testd['hours-per-week'] = testd['hours-per-week']*0.001

traind['age'] = traind['age']*0.001
testd['age'] = testd['age']*0.001

traind['education-num'] = traind['education-num']*0.001
testd['education-num'] = testd['education-num']*0.001

traind

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,Private,self-employed,government-employed,higher education,high school,income
0,0.039,0.77516,0.013,1,0.02174,0,0.040,0,0,1,1,0,1
1,0.050,0.83311,0.013,1,0.00000,0,0.013,0,1,0,1,0,1
2,0.038,2.15646,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
3,0.053,2.34721,0.007,1,0.00000,0,0.040,1,0,0,0,0,1
4,0.028,3.38409,0.013,0,0.00000,0,0.040,1,0,0,1,0,1
5,0.037,2.84582,0.014,0,0.00000,0,0.040,1,0,0,1,0,1
6,0.049,1.60187,0.005,0,0.00000,0,0.016,1,0,0,0,0,1
7,0.052,2.09642,0.009,1,0.00000,0,0.045,0,1,0,0,1,0
8,0.031,0.45781,0.014,0,0.14084,0,0.050,1,0,0,1,0,0
9,0.042,1.59449,0.013,1,0.05178,0,0.040,1,0,0,1,0,0
10,0.037,2.80464,0.010,1,0.00000,0,0.080,1,0,0,0,1,0
11,0.030,1.41297,0.013,1,0.00000,0,0.040,0,0,1,1,0,0
12,0.023,1.22272,0.013,0,0.00000,0,0.030,1,0,0,1,0,1
13,0.032,2.05019,0.012,1,0.00000,0,0.050,1,0,0,0,1,1
15,0.034,2.45487,0.004,1,0.00000,0,0.045,1,0,0,0,0,1
16,0.025,1.76756,0.009,1,0.00000,0,0.035,0,1,0,0,1,1
17,0.032,1.86824,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
18,0.038,0.28887,0.007,1,0.00000,0,0.050,1,0,0,0,0,1
19,0.043,2.92175,0.014,0,0.00000,0,0.045,0,1,0,1,0,0
20,0.040,1.93524,0.016,1,0.00000,0,0.060,1,0,0,1,0,0
21,0.054,3.02146,0.009,0,0.00000,0,0.020,1,0,0,0,1,1
22,0.035,0.76845,0.005,1,0.00000,0,0.040,0,0,1,0,0,1
23,0.043,1.17037,0.007,1,0.00000,2042,0.040,1,0,0,0,0,1
24,0.059,1.09015,0.009,0,0.00000,0,0.040,1,0,0,0,1,1
25,0.056,2.16851,0.013,1,0.00000,0,0.040,0,0,1,1,0,0
26,0.019,1.68294,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
28,0.039,3.67260,0.009,1,0.00000,0,0.080,1,0,0,0,1,1
29,0.049,1.93366,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
30,0.023,1.90709,0.012,1,0.00000,0,0.052,0,0,1,0,1,1
31,0.020,2.66015,0.010,1,0.00000,0,0.044,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32526,0.032,2.11349,0.006,1,0.00000,0,0.040,1,0,0,0,0,1
32527,0.022,2.03715,0.010,1,0.00000,0,0.040,1,0,0,0,1,1
32528,0.031,2.92592,0.009,0,0.00000,0,0.040,1,0,0,0,1,1
32529,0.029,1.25976,0.009,0,0.00000,0,0.035,1,0,0,0,1,1
32532,0.034,2.04461,0.016,1,0.00000,0,0.060,1,0,0,1,0,0
32533,0.054,3.37992,0.013,1,0.00000,0,0.050,1,0,0,1,0,0
32534,0.037,1.79137,0.010,0,0.00000,0,0.039,1,0,0,0,1,1
32535,0.022,3.25033,0.008,1,0.00000,0,0.035,1,0,0,0,0,1
32536,0.034,1.60216,0.013,0,0.00000,0,0.055,1,0,0,1,0,0
32537,0.030,3.45898,0.009,1,0.00000,0,0.046,1,0,0,0,1,1
32538,0.038,1.39180,0.013,0,0.15020,0,0.045,1,0,0,1,0,0
32540,0.045,2.52208,0.009,0,0.00000,0,0.040,0,0,1,0,1,1
32543,0.045,1.19199,0.012,0,0.00000,0,0.048,0,0,1,0,1,1
32544,0.031,1.99655,0.014,0,0.00000,0,0.030,1,0,0,1,0,1
32545,0.039,1.11499,0.012,0,0.00000,0,0.020,0,0,1,0,1,0
32546,0.037,1.98216,0.012,0,0.00000,0,0.040,1,0,0,0,1,1
32547,0.043,2.60761,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
32548,0.065,0.99359,0.015,1,0.01086,0,0.060,0,1,0,0,1,1
32549,0.043,2.55835,0.010,0,0.00000,0,0.040,0,0,1,0,1,1
32550,0.043,0.27242,0.010,1,0.00000,0,0.050,0,1,0,0,1,1
32551,0.032,0.34066,0.006,1,0.00000,0,0.040,1,0,0,0,0,1
32552,0.043,0.84661,0.011,1,0.00000,0,0.045,1,0,0,0,1,1
32553,0.032,1.16138,0.014,1,0.00000,0,0.011,1,0,0,1,0,1
32554,0.053,3.21865,0.014,1,0.00000,0,0.040,1,0,0,1,0,0
32555,0.022,3.10152,0.010,1,0.00000,0,0.040,1,0,0,0,1,1
32556,0.027,2.57302,0.012,0,0.00000,0,0.038,1,0,0,0,1,1
32557,0.040,1.54374,0.009,1,0.00000,0,0.040,1,0,0,0,1,0
32558,0.058,1.51910,0.009,0,0.00000,0,0.040,1,0,0,0,1,1
32559,0.022,2.01490,0.009,1,0.00000,0,0.020,1,0,0,0,1,1
32560,0.052,2.87927,0.009,0,0.15024,0,0.040,0,1,0,0,1,0

In [8]:
testd

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,Private,self-employed,government-employed,higher education,high school,income
0,0.025,2.26802,0.007,1,0.00000,0,0.040,1,0,0,0,0,1
1,0.038,0.89814,0.009,1,0.00000,0,0.050,1,0,0,0,1,1
2,0.028,3.36951,0.012,1,0.00000,0,0.040,0,0,1,0,1,0
3,0.044,1.60323,0.010,1,0.07688,0,0.040,1,0,0,0,1,0
5,0.034,1.98693,0.006,1,0.00000,0,0.030,1,0,0,0,0,1
7,0.063,1.04626,0.015,1,0.03103,0,0.032,0,1,0,0,1,0
8,0.024,3.69667,0.010,0,0.00000,0,0.040,1,0,0,0,1,1
9,0.055,1.04996,0.004,1,0.00000,0,0.010,1,0,0,0,0,1
10,0.065,1.84454,0.009,1,0.06418,0,0.040,1,0,0,0,1,0
11,0.036,2.12465,0.013,1,0.00000,0,0.040,0,0,1,1,0,1
12,0.026,0.82091,0.009,0,0.00000,0,0.039,1,0,0,0,1,1
14,0.048,2.79724,0.009,1,0.03103,0,0.048,1,0,0,0,1,0
15,0.043,3.46189,0.014,1,0.00000,0,0.050,1,0,0,1,0,0
16,0.020,4.44554,0.010,1,0.00000,0,0.025,0,0,1,0,1,1
17,0.043,1.28354,0.009,0,0.00000,0,0.030,1,0,0,0,1,1
18,0.037,0.60548,0.009,0,0.00000,0,0.020,1,0,0,0,1,1
20,0.034,1.07914,0.013,1,0.00000,0,0.047,1,0,0,1,0,0
21,0.034,2.38588,0.010,0,0.00000,0,0.035,1,0,0,0,1,1
23,0.025,2.20931,0.013,1,0.00000,0,0.043,1,0,0,1,0,1
24,0.025,2.05947,0.013,1,0.00000,0,0.040,1,0,0,1,0,1
25,0.045,4.32824,0.009,1,0.07298,0,0.090,0,1,0,0,1,0
26,0.022,2.36427,0.009,1,0.00000,0,0.020,1,0,0,0,1,1
27,0.023,1.34446,0.009,1,0.00000,0,0.054,1,0,0,0,1,1
28,0.054,0.99516,0.009,1,0.00000,0,0.035,1,0,0,0,1,1
29,0.032,1.09282,0.010,1,0.00000,0,0.060,0,1,0,0,1,1
30,0.046,1.06444,0.010,1,0.07688,0,0.038,0,0,1,0,1,0
31,0.056,1.86651,0.007,0,0.00000,0,0.050,0,1,0,0,0,1
32,0.024,1.88274,0.013,1,0.00000,0,0.050,0,1,0,1,0,1
33,0.023,2.58120,0.010,1,0.00000,0,0.040,0,0,1,0,1,1
34,0.026,0.43311,0.009,0,0.00000,0,0.040,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16248,0.025,2.42136,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
16249,0.031,1.12115,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
16250,0.049,0.77132,0.009,1,0.00000,0,0.040,0,1,0,0,1,0
16252,0.060,1.17909,0.011,1,0.07688,0,0.040,1,0,0,0,1,0
16253,0.039,2.29647,0.013,0,0.00000,1669,0.040,1,0,0,1,0,1
16254,0.038,1.49347,0.014,1,0.00000,0,0.050,1,0,0,1,0,0
16255,0.043,0.23157,0.014,1,0.00000,1902,0.050,0,0,1,1,0,0
16256,0.023,0.93977,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
16257,0.073,1.59691,0.010,0,0.00000,0,0.040,0,1,0,0,1,1
16258,0.035,1.76967,0.010,1,0.00000,0,0.040,1,0,0,0,1,1
16259,0.066,3.44436,0.009,0,0.00000,0,0.008,1,0,0,0,1,1
16260,0.027,4.30340,0.010,0,0.00000,0,0.045,1,0,0,0,1,1
16261,0.040,2.02168,0.015,1,0.15024,0,0.055,1,0,0,0,1,0
16262,0.051,0.82720,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
16263,0.022,2.69623,0.010,1,0.00000,0,0.040,1,0,0,0,1,1
16264,0.064,1.36405,0.009,1,0.00000,0,0.032,0,1,0,0,1,1
16266,0.055,2.24655,0.009,0,0.00000,0,0.032,1,0,0,0,1,1
16267,0.038,2.47547,0.011,0,0.00000,0,0.040,1,0,0,0,1,1
16268,0.058,2.92710,0.012,1,0.00000,0,0.036,1,0,0,0,1,1
16269,0.032,1.73449,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
16270,0.048,2.85570,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
16271,0.061,0.89686,0.009,1,0.00000,0,0.048,1,0,0,0,1,1
16272,0.031,4.40129,0.009,1,0.00000,0,0.040,1,0,0,0,1,1
16273,0.025,3.50977,0.009,0,0.00000,0,0.040,1,0,0,0,1,1
16274,0.048,3.49230,0.014,1,0.00000,0,0.040,0,0,1,1,0,1
16275,0.033,2.45211,0.013,1,0.00000,0,0.040,1,0,0,1,0,1
16276,0.039,2.15419,0.013,0,0.00000,0,0.036,1,0,0,1,0,1
16278,0.038,3.74983,0.013,1,0.00000,0,0.050,1,0,0,1,0,1
16279,0.044,0.83891,0.013,1,0.05455,0,0.040,1,0,0,1,0,1
16280,0.035,1.82148,0.013,1,0.00000,0,0.060,0,1,0,1,0,0

In [9]:
def manhattan(a,b):
    d = 0
    for i,v in enumerate(a):
        d += np.abs(a[i]-b[i])
    return d

def knn(in_fit, color, in_t, k):
    df = in_fit.copy(deep=True)
    df_t = in_t.copy(deep=True)
    cl_predict = []
    colors = df["income"].map(color)
    for i in range(0,len(df_t["age"])):
        #get testdata
        t1 = list(df_t.iloc[i])
        #compute all distances to datapoints
        distances = []
        for i in range(0,len(df["age"])):
            distances.append(manhattan(df.iloc[i][0:11], t1))
        #get k lowest distances, save kth lowest as threshold
        thresh = sorted(distances)[:k][k-1]
        #get labels of the k datapoints with lowest distances 
        df['Distance'] = distances
        l_list = df[df['Distance']<=thresh][:k]['income']
        #count labels
        counts = {}
        for i in list(set(df['income'])):
            counts[i] = list(l_list).count(i)
        #classify
        cl_predict.append(max(counts, key=counts.get))
        df.drop('Distance', axis=1)
    #plot feature-space with test-data
    df_t["predict"] = cl_predict
    return df_t

In [10]:
#cat_map = {'<=50K': 'r', '>50K': 'b'}
#knn(traind, cat_map, testd, 2)

<b> => knn is way to slow for this big scale of a dataset! So Logistic Regression will hopefully perform much better.</b>

In [11]:
traind = traind.drop('fnlwgt',1)
traind = traind.drop('capital-gain',1)
traind = traind.drop('capital-loss',1)
traind = traind.drop('hours-per-week',1)
traind = traind.drop('age',1)
traind = traind.drop('education-num',1)

testd = testd.drop('fnlwgt',1)
testd = testd.drop('capital-gain',1)
testd = testd.drop('capital-loss',1)
testd = testd.drop('hours-per-week',1)
testd = testd.drop('age',1)
testd = testd.drop('education-num',1)

In [56]:
def computeGrad(X, Y, B):
    Bgrad = np.matrix(np.zeros(len(traind.columns))).transpose()
    #compute the gradient over all target-scalars and x-Vectors
    for i, yi in enumerate(Y):
        hBxi = np.exp(B.transpose()*X[:,i]) / (1 + np.exp(B.transpose()*X[:,i]))
        Bgrad = Bgrad + (X[:,i]*(yi - hBxi))
    return Bgrad

def fit(X, Y, Binit, step):
    slopestep = step
    loopend = 10
    B = Binit
    #compute stepwise the maximized coefficient-Vector
    while 1:
        Bold = B
        B = Bold + slopestep * computeGrad(X, Y, Bold)
        loopend -= 1
        if (np.abs(Bold-B)).any() < 0.0000001 or loopend==0:
            break
    return B

In [57]:
def predict(Xt, Yt, B):
    #initilize predict-vector
    pYX = []
    #loop through X-Matrix, for each xi compute probability (pyx) and multiply it to predict-vector
    for i, yi in enumerate(Yt):
        hBxi = np.exp(B.transpose()*Xt[:,i]) / (1 + np.exp(B.transpose()*Xt[:,i]))
        pYX.append(hBxi)
    #return predict-vector, computed over all xi
    return pYX

In [58]:
def logregress(X, Y, Xt, Yt, Binit, step):
    B = fit(X, Y, Binit, step)
    pred = predict(Xt, Yt, B)
    return pred, Yt, B

In [59]:
padding = np.ones((len(traind['income'])))
paddingt = np.ones(len(testd['income']))

In [65]:
pred, Yreal, teta = logregress(np.vstack([padding, np.matrix((traind.drop('income', 1)).as_matrix()).transpose()]), 
                np.matrix(traind['income'].as_matrix()).transpose(),
                np.vstack([paddingt, np.matrix((testd.drop('income', 1)).as_matrix()).transpose()]),
                np.matrix(testd['income'].as_matrix()).transpose(),
                np.matrix(np.ones(len(traind.columns))).transpose(), 
                0.0001)

In [69]:
set([np.round(i.item(0)) for i in pred])

{0.0, 1.0}

In [70]:
def accuracy(pred, Y):
    correct = 0
    for i,v in enumerate(pred):
        if np.round(v.item(0)) == Yreal[i]:
            correct += 1
    return float(correct)/float(len(pred))

In [71]:
accuracy(pred, Yreal)

0.7578353253652058

In [72]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()

X = traind.drop('income', 1)
Y = traind['income']
Xt = testd.drop('income', 1)
Yt = testd['income']

logistic.fit(X,Y)
logistic.predict(Xt)
logistic.score(Xt, Yt)

0.7715139442231076